.course {
  list-style: none;
  margin-top: 5px;
}

.course>.grade {
  display: inline-block;
  width: 40px;
  color: rgb(70, 120, 70);
}

.course>.number {
  display: inline-block;
  width: 100px;
  color: rgb(100, 100, 100);
}

.course>.name {
  font-size: 1.2em;
}
