---
layout: page
title: Georgia Tech
permalink: /georgia-tech/
---

<link rel="stylesheet" href="{{ "/assets/georgia-tech.css" | prepend: site.baseurl }}">

<h2>Course history</h2>

{% for semester in site.data.georgia-tech %}<h3>{{ semester.semester }}</h3>
<ul>
  {% for course in semester.courses %}<li class="course">
    <span class="number">{{ course.subject }} {{ course.number }}</span>
    <span class="grade">{{ course.grade }}</span>
    <span class="name">{{ course.title }}</span>
  </li>{% endfor %}
</ul>{% endfor %}
