html, body {
  height: 100%;
}
.container {
  max-width: 724px;
}
.masthead {
  padding-top: 20px;
}
.footer {
  margin-top: 50px;
  background-color: black;
  padding: 20px 0;
}
.footer a {
  display: block;
  margin: 0 0 10px;
}
.footer a i {
  color: #aaa;
  margin-right: 10px;
}
.footer a:hover {
  color: white;
}
.footer a:hover i {
  color: white;
  text-decoration: none;
}
.footer .links {
  margin-top: 15px;
}
.footer .container {
  max-width: 500px;
}
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 80px;
    padding-right: 20px;
  }
}
@media (min-width: 800px) and (min-height: 800px) {
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
  }
}