
<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
          {% if site.email %}<li>
            <a href="mailto:{{ site.email }}">
              <i class="icon icon-envelope"></i>
              <span class="username">{{ site.email }}</span>
            </a>
          </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="icon icon-twitter"></i>
            <span class="username">@{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="icon icon-github"></i>
            <span class="username">GitHub: {{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.stackoverflow_userid %}<li>
          <a href="http://stackoverflow.com/users/{{ site.stackoverflow_userid }}">
            <i class="icon icon-stackoverflow"></i>
            <span class="username">Stack Overflow</span>
          </a>
        </li>{% endif %}
        {% if site.googleplus_userid %}<li>
          <a href="https://plus.google.com/{{ site.googleplus_userid }}">
            <i class="icon icon-googleplus"></i>
            <span class="username">Google+</span>
          </a>
        </li>{% endif %}
        {% if site.facebook_username %}<li>
          <a href="https://www.facebook.com/{{ site.facebook_username }}">
            <i class="icon icon-facebook"></i>
            <span class="username">Facebook</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-2 column">
      <p class="text"></p>
    </div>

    <div class="footer-col-3 column">
    </div>

  </div>

</footer>
