<header class="site-header">

  <div class="wrap">

    <div style="float: left;">

      <a href="{{ site.baseurl }}/">
        <svg class="site-photo" viewBox="3 3 97 97" style="display: inline-block; vertical-align: middle;">
          <rect x="4" y="4" width="92" height="92" style="fill: #333;" rx="17"/>
          <rect x="4" y="4" width="91" height="91" style="fill: #111;" rx="17"/>
          <image x="5" y="5" width="90" height="90"
                 xlink:href="{{ "/assets/photo.jpg" | prepend: site.baseurl }}"
                 style="" clip-path="url(#photo-clip)"/>
          <defs>
            <filter id="desaturate">
              <feColorMatrix type="saturate" values="0.4"/>
            </filter>
            <rect id="photo-clip-rect" x="5" y="5" width="90" height="90" rx="15"/>
            <clipPath id="photo-clip" clipPathUnits="userSpaceOnUse">
              <use xlink:href="#photo-clip-rect"/>
            </clipPath>
          </defs>
        </svg>
      </a>

      <span style="display: inline-block; vertical-align: middle;">
        <div>
          <a class="site-title" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>
        </div>
        <p class="text site-description">
          <a href="https://fluent.network/">Fluent</a>,
          Nix, Scala, Haskell, complaining
        </p>
      </span>

    </div>

  </div>

</header>
