$container-width: 560px;

body {
    margin: 0;
    padding: 0 0 5em;
}

a {
    color: #0a64bc;
    &:hover { color: #4999e0; }
    text-decoration: none;
}

h1 {
    margin-top: 1em;
}

h1, h2 {
    clear: both;
}

.container {
    padding: 0 2em;
    margin: 0 auto;
    max-width: $container-width;
}

.global-page-header {
    min-height: 2em;
    border-bottom: 2px solid black;
    background-color: #333;
    line-height: 2em;

    a {
        color: white;
        text-decoration: none;
    }
}

blockquote {
    background: #f5f2e7;
    border: 1px solid #eadea3;
    margin: 1em 0;
    border-width: 0 0 0 10px;
    padding: 1.6em 2em;
    border-radius: 5px;

    &>*:first-child {
        margin-top: 0;
    }
    &>*:last-child {
        margin-bottom: 0;
    }
}

code, pre {
    font-family: Inconsolata, monospace;
}

div.sourceCode {

    box-sizing: border-box;
    padding: 0 1.5em;

    pre {
        box-sizing: border-box;
        display: inline-block;
        min-width: 100%;
        border: 3px solid #f1f1f1;
        border-radius: 5px;
        padding: 1em;
        margin: 0;
        word-break: break-all;
        line-height: 1.2em;

        p {
            margin: 0;
        }

        span {
            &.kw, &.ot       { color: #007020; }
            &.fu             { color: #06287e; }
            &.co             { color: #60a0b0; }
            &.dt             { color: #902000; }
            &.ch, &.st       { color: #4070a0; }
            &.bn, &.dv, &.fl { color: #40a070; }
            &.al, &.er       { color: red; }
            &.al, &.er, &.kw { font-weight: bold; }
            &.co             { font-style: italic; }
        }
    }
}

@media(min-width: $container-width) {
    div.sourceCode {
        text-align: center;
        pre {
            min-width: $container-width;
            text-align: left;
        }
    }
}
