{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <script src="{% static 'jquery/1.9.1/jquery.min.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'base.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'elusive/css/elusive-webfont.css' %}"/>
    {% block extra-head %}{% endblock %}
</head>
<body>

{% block header %}
    <header class="header">
        <svg>
            <rect x="0" y="0" width="100%" height="100%"
                  fill="url(#header-pattern)"/>
        </svg>
        <div class="container">
            <a href="/"><h1 class="site-title">Chris Martin</h1></a>
            <h1 class="page-title">{% block page-title %}{% endblock %}</h1>
        </div>
    </header>
    <div class="transition transition-header-middle">
        <svg viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path d="m -50 100 l 50 -50 s 500 -50 1000 0 l 50 50"/>
        </svg>
    </div>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <div class="transition transition-middle-footer">
        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
            <rect x="0" y="0" width="100" height="100"
                  fill="url(#transition-middle-footer-gradient)"/>
        </svg>
    </div>
    <section class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <svg viewBox="3 3 97 97">
                        <rect x="4" y="4" width="92" height="92" style="fill: #333;" rx="17"/>
                        <rect x="4" y="4" width="91" height="91" style="fill: #111;" rx="17"/>
                        <image x="5" y="5" width="90" height="90" xlink:href="{% static 'photo.jpg' %}"
                               style="filter:url(#desaturate)" clip-path="url(#photo-clip)"/>
                    </svg>
                </div>
                <div class="span4 links">
                    <ul>
                        <li data-name="email">
                            <a href="mailto:ch.martin@gmail.com">
                                <i class="icon-envelope"></i>ch.martin@gmail.com
                            </a>
                        </li>
                        <li data-name="twitter">
                            <a href="https://twitter.com/chris__martin">
                                <i class="icon-twitter"></i>@chris__martin
                            </a>
                        </li>
                        <li data-name="github">
                            <a href="https://github.com/chris-martin">
                                <i class="icon-github"></i>GitHub
                            </a>
                        </li>
                        <li data-name="stackoverflow">
                            <a href="http://stackoverflow.com/users/402884">
                                <i class="icon-stackoverflow"></i>Stack Overflow
                            </a>
                        </li>
                        <li data-name="googleplus">
                            <a href="https://plus.google.com/102949496905033075906">
                                <i class="icon-googleplus"></i>Google+
                            </a>
                        </li>
                        <li data-name="facebook">
                            <a href="https://www.facebook.com/ch.martin">
                                <i class="icon-facebook"></i>Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra-body %}
    <svg style="height: 0;">
        <defs>
            <linearGradient
                    id="transition-middle-footer-gradient"
                    x1="0" x2="0" y1="0" y2="1">
                <stop offset="0.4"/>
                <stop offset="0.48"/>
                <stop offset="0.52"/>
                <stop offset="0.6"/>
            </linearGradient>
            <pattern id="header-pattern" width="12" height="12"
                     patternUnits="userSpaceOnUse">
                <path d="m 6 -1 l 0 14"/>
                <path d="m -1 6 l 14 0"/>
            </pattern>
            <filter id="desaturate">
                <feColorMatrix type="saturate" values="0.4"/>
            </filter>
            <rect id="photo-clip-rect" x="5" y="5" width="90" height="90" rx="15"/>
            <clipPath id="photo-clip" clipPathUnits="userSpaceOnUse">
                <use xlink:href="#photo-clip-rect"/>
            </clipPath>
        </defs>
    </svg>
{% endblock %}

</body>
</html>
