@import '../post.scss';

.course {
    list-style: none;
    margin-top: 0.5em;

    .grade {
        display: inline-block;
        width: 2em;
        color: rgb(70, 120, 70);
        font-size: 75%;
    }

    .number {
        display: inline-block;
        width: 6em;
        color: rgb(100, 100, 100);
        font-size: 75%;
    }
}
